<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working...</title>

</head>
<body>
<h1>Welcome to Text Analyzer. Enter Your text Here...</h1>
<form action="/analyze" method="get">
    <textarea name='rempunc_text' style="height: 100px; width: 888px;"></textarea><br>
    <input type="checkbox" name="rempunc">Remove Punctutaions <br>
    <input type="checkbox" name="fullcaps">UPPERCASE <br>
    <input type="checkbox" name="newlinerem">New Line Remover <br>
    <input type="checkbox" name="extraspacerem">Extra Space Remover <br>
    <input type="checkbox" name="charcount">Character Counter <br>
    <button type="submit">Analyze Text</button>
</form>

</body>
</html>